body {
    background-color: #2b6b3a
}

div {
    display: inline-flex;
    /* background-color: darkolivegreen;
    border: 2px solid black; */
    height: 200px;
    width: 200px;
}

#runner {
    height: 90px;
    width: 90px;
    background-color: yellow;
}
#runner[data-state="waiting"]{
    animation: waiting 0.5s linear infinite alternate;
}
@keyframes waiting {
    0% {
      transform: rotate(4deg);
    }
    100% {
      transform: rotate(-4deg);
    }
}
#runner[data-state="running"]{
    animation: "running" 0.2s linear infinite alternate;
}
@keyframes running {
    0% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    } 
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
#runner[data-state="caught"]{
    animation: caught 0.9s linear infinite alternate;
}
@keyframes caught {
    0% {
        transform: translateY(0px);
    }
    12% {
        transform: translateY(-10px);
    } 
    24% {
        transform: translateY(0px);
    }
    37% {
        transform: translateY(10px);
    }  
    50% {
        transform: translateX(0px);
    }
    62% {
        transform: translateX(-10px);
    } 
    75% {
        transform: translateX(0px);
    }
    89% {
        transform: translateX(10px);
    }
}